<div class="example-container">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="accountName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
				{{transaction.accountName}}
			</mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.transactionDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="receiver">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Receiver </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.receiver}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="purpose">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Purpose </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.purpose}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.amount}} {{transaction.currency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Currency </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.currency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
				<mat-form-field>
					<mat-select [(ngModel)]="transaction.category" placeholder="Category">
						<mat-option *ngFor="let c of categories" [value]="c.name">
							{{ c.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-cell>
    </ng-container>

    <ng-container matColumnDef="subCategory">
      <mat-header-cell *matHeaderCellDef mat-sort-header> SubCategory </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
			<span *ngFor="let c of categories">
				<span *ngIf="c.name === transaction.category">
					<mat-form-field>
						<mat-select [(ngModel)]="transaction.subCategory" placeholder="Subcategory" (selectionChange)="updateTransaction(transaction.id, transaction.category, transaction.subCategory, transaction.comment)">
							<mat-option *ngFor="let s of c.subcategories" [value]="s.name">
								{{ s.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</span>
			</span>
			</mat-cell>
    </ng-container>

    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Comment </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
			  <mat-form-field (change)="updateTransaction(transaction.id, transaction.category, transaction.subCategory, transaction.comment)">
			  	<input matInput [(ngModel)]="transaction.comment" value={{transaction.comment}}>
			  </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tags">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tags </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
			  <mat-form-field (change)="updateTransaction(transaction.id, transaction.category, transaction.subCategory, transaction.comment)">
			  	<input matInput [(ngModel)]="transaction.tags" value={{transaction.tags}}>
			  </mat-form-field>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                [length]="exampleDatabase.data.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
