<div class="example-container">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="accountNumber">
      <mat-header-cell *matHeaderCellDef> Account No. </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.accountNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transactionDate">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.transactionDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="receiver">
      <mat-header-cell *matHeaderCellDef> Receiver </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.receiver}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="purpose">
      <mat-header-cell *matHeaderCellDef> Purpose </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.purpose}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.amount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef> Currency </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.currency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.category}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subCategory">
      <mat-header-cell *matHeaderCellDef> SubCategory </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.subCategory}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        
				<form class="example-form">
					<mat-form-field class="example-full-width">
						<input matInput value={{transaction.comment}}>
					</mat-form-field>
				</form>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
